h1,table,th,#poll {text-align:center}
/* center the image */
#banner {
	height: 180px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
body{
	/* background: url("../img/background.jpg") no-repeat fixed; */
	height: 100%;
	/* Center and scale the image nicely */
	background-position: center;
	background-size: cover;
	font-family: Arial, Helvetica, sans-serif;
}

#voting {
	margin-top: 15px;
	font-size: 40px;
}

#result {
	font-size: 20px;
}
table{
	background-color: transparent;
}

td{
	width: 170px;
}

.profile{
	margin-top: 0px;
	padding-top: 0px;
	width:100%;
	font-size: 25px;
	color: white;
}

.container{
	margin: auto;
	margin-top: 20px;
}

.container h2{
	margin-top:50px;
	text-align:center;
	color: white;
	font-size: 60px;
}

.bar{
	margin:30px 50px 0px 50px;
	display:inline-block;
	border-radius: 10px;
	background: #464649;
	height:150px;
	width: 60px;
	display: flex;
	align-items: flex-end;
	margin-bottom: 10px;
}

.prog{
	background:#f7b731;
	border-radius: 10px;
	width:100%;
}

#poll {
	font-size: 100px;
}

.headRow {

	color: white;
}

#showfour {
	font-size: 60px;
}

#single{
	/*background-image: url("../img/mb.jpg");*/
	background-size: cover;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.row{
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.debug{
	border: 5px solid red;
}

.table {
    table-layout: fixed;
}

.highlight{
    color: #fed330;
	background: red;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}