h1,table,th,#poll {text-align:center}
/* center the image */
#banner {
	height: 180px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
body{
	/* background: url("../img/background.jpg") no-repeat fixed; */
	height: 100%;
	/* Center and scale the image nicely */
	background-position: center;
	background-size: cover;
	font-family: Arial, Helvetica, sans-serif;
}

#voting {
	margin-top: 15px;
	font-size: 40px;
}

#result {
	font-size: 40px;
}

#result2 {
	font-size: 40px;
}

table{
	background-color: transparent;
}

td{
	width: 220px;
	padding-right: 45px;
	padding-left: 45px;
}

.profile{
	margin-top: 0px;
	padding-top: 0px;
	width:100%;
	font-size: 25px;
	color: white;
}

.container{
	margin: auto;
	margin-top: 20px;
}

.container h2{
	margin-top:50px;
	text-align:center;
	color: white;
	font-size: 60px;
}

.bar{
	margin:30px 50px 0px 50px;
	display:inline-block;
	border-radius: 10px;
	background: #464649;
	height:250px;
	width: 70px;
	display: flex;
	align-items: flex-end;
	margin-bottom: 10px;
}

.prog{
	background:#f7b731;
	border-radius: 10px;
	width:100%;
}

#poll {
	font-size: 100px;
}

.headRow {
	color: white;
}

#showfour {
	font-size: 60px;
}

#single{
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.row{
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.debug{
	border: 5px solid red;
}

table {
	table-layout: fixed;
	border-spacing: 10px;
}

.highlight{
	color: #fed330;
	background: red;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}

.progressdiv{
	background-color:#00d2d3;
	height: 20px;
	width: 80%;
	margin: 0 auto;
}

.font2{
	color:rgb(223, 210, 255);
	font-family: Calibri; 
	font-size: 400%;
	margin-top:80px;
	margin-bottom: 70px;
	padding-left: 10px;
	text-align: left;
}

#imgdiv{
	float: right;
	width: 400px;
	height: 500px;
	text-align: right;
	padding-right: 30px;
}

#rightdiv{
	padding-left: 30px;
}

#leftdiv{
	padding-right: 30px;
}

#candImg{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#header{
	height: 140px;
	margin-bottom: 70px;
}